<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 文件输出格式 -->
	<property name="PATTERN"
		value="logback %d{yyyy-MM-dd HH:mm:ss.SSS} |-%-5level [%thread] %c [%L] -| %msg%n" />
	<!-- test文件路径 -->
	<property name="TEST_FILE_PATH" value="d:/workspaces/JAVA/log" />

	<!-- 1.控制台输出 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	<logger name="com.boot" level="trace" />
	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>

	<!-- 2.每天产生一个文件 -->
	<appender name="TEST-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 文件名称 -->
			<fileNamePattern>${TEST_FILE_PATH}/info.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- 文件最大保存历史数量 -->
			<MaxHistory>100</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${PATTERN}</pattern>
		</layout>
	</appender>
	<root level="info">
		<appender-ref ref="TEST-FILE" />
	</root>

</configuration>